{% extends 'layout.html'%}

{%load static%}

{% block content%}

    <div class="blog_articles_list">
        <div class="container">
            <div class="row">
                <div class="articles">
                    <a href="" class="active">All</a>
                    <a href="">Mobile</a>
                    <a href="">Web</a>
                    <a href="">Blog</a>
                    <a href="">Football</a>
                </div>
            </div>
        </div>
    </div>


    <div class="item_cards">
        <div class="container">

            <div class="row">

                <div class="col-12">
                    <div class="horizontal_item_card">
                        <img src="../static/images/example.svg">
                        <h6 class="date">NOV 23 2020</h4>
                        <h2>This way is wrong about UI Design.</h2>
                        <p>
                                A quick guide to assisting users in the 
                        </p>
                        <h2 id="read_more">READ MORE</h2>
                    </div>
                    
                </div>
            </div>
           
              <!--   <div class="place">
                   

                    <div class="item_card">                    
                        <img src="../static/images/example.svg">
                        <h6 class="date">NOV 23 2020</h4>
                        <h2>This way is wrong about UI Design.</h2>
                        <p>
                            A quick guide to assisting users in the 
                        </p>
                        <h2 id="read_more">READ MORE</h2>
                    </div>
                   
                  
                   
                </div>

                <div class="">

                
                    <div class="item_card">                    
                        <img src="../static/images/example.svg">
                        <h6 class="date">NOV 23 2020</h4>
                        <h2>This way is wrong about UI Design.</h2>
                        <p>
                            A quick guide to assisting users in the 
                        </p>
                        <h2 id="read_more">READ MORE</h2>
                    </div>
                </div>
                <div class="">

                
                    <div class="item_card">                    
                        <img src="../static/images/example.svg">
                        <h6 class="date">NOV 23 2020</h4>
                        <h2>This way is wrong about UI Design.</h2>
                        <p>
                            A quick guide to assisting users in the 
                        </p>
                        <h2 id="read_more">READ MORE</h2>
                    </div>
                </div> -->
                
            
        </div>
    </div>
{%endblock%}